// Import once workaround. Ensures that a module is only imported once. Used on all files with CSS content
// SOURCE: https://github.com/wilsonpage/sass-import-once

$imported-modules: () !default;

@mixin export($name) {
  @if (index($imported-modules, $name) == null) {
    $imported-modules: append($imported-modules, $name) !global;
    @content;
  } @else {
    @warn "Module `#{$name}` has already been imported.";
  }
}


@mixin font-size($sizeValue: 1.3) {
  font-size: $sizeValue * 10 * 1px;
  font-size: $sizeValue * 1rem;
}


@mixin reset-mp() {
  margin: 0;
  padding: 0;
}


// http://nicolasgallagher.com/another-css-image-replacement-technique/
@mixin hide-text() {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}